*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: antiquewhite;
    display: grid;
    align-items: center;
}

svg.tommy .node.male>rect {
    fill: blue;
}  
svg.tommy .node.Male>rect {
    fill: blue;
}  
svg.tommy .node.female>rect {
    fill: red;
}
#tree>svg {
    background-color: #3e3c3c;
}
h1 {
    color: #aa9aaa;
}