*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: antiquewhite;
    display: grid;
    align-items: center;
}

.tree {
    text-align: center;
    width: 100vh;
    height: auto;
}

.tree ul{
    padding-top: 20px;
    position: relative;
    transition: .5s;
}

.tree li{
    display: inline-table;
    text-align: center;
    list-style-type:none ;
    position: relative;
    padding: 10px;
    transition: .5s;
    border: 1px solid black;
    margin: 10px;
}

/* .tree li:before, .tree li:after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px solid black;
    width: 51%;
    height: 10px;
} */