*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background-color: #c8c5c1;
    display: grid;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#tree {
    min-height: 90vh;
    overflow: visible;
}

svg.tommy .node.male>rect {
    fill: blue;
}  
svg.tommy .node.female>rect {
    fill: red;
}
#tree>svg {
    background-color: #3e3c3c;
}
.header {
    float: left;
    width: 33.33%;
    height: 10vh;
}
.title {
    color: #000000;
    text-align: center;
}

.logos {
    text-align: end;
    padding-right: 1%;
    padding-top: 1%;
}
.tlogo {
    height: 1.7rem;
    padding-left: .7rem;

}

.dragon-icon {
    fill: white;
}